@charset "UTF-8";
/* ================= */
/* Настройка галереи */
/* ================= */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #303d5a;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  top: 0;
  width: 720px;
  height: 248px;
  background-image: url(/png/logo.png);
  transform: scale(0.8);
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  position: absolute;
  top: 23.5%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14pt;
  line-height: 17pt;
  letter-spacing: 2em;
  text-transform: uppercase;
}

#light {
  color: #FFFFFF;
}

#blueGradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, #60A7E3, #9CFBFF);
}

/* ================= */
/* Режим презентации */
/* ================= */
.slider-thumb-container {
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  display: flex;
  height: 93.75px;
}

.slider-thumb-container {
  width: 800px;
}

.slider-thumb-track {
  position: absolute;
  display: flex;
  width: max-content;
  height: inherit;
}

.slide-thumb {
  font-size: inherit;
  padding: 0;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #7c7c7c;
  margin: 0 5px;
  border-radius: 10px;
  width: 234.375px;
  height: 93.75px;
  overflow: clip;
}

.sliderMargin1 {
  margin: 8vh 0;
}

.thumb-active::before {
  position: absolute;
  content: "";
  opacity: 0.3;
  width: inherit;
  height: inherit;
  background-color: white;
  border-radius: inherit;
  z-index: 3;
}

/* ================= */
/* Основная карусель */
/* ================= */
.slider {
  font-family: "Arial", sans-serif;
  font-size: 30pt;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
}

.slider-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider-container {
  align-items: center;
  border-radius: 15px;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  width: 800px;
  overflow: hidden;
}

.slider-track {
  border-radius: inherit;
  display: flex;
  flex-direction: row;
  width: max-content;
}

.slider-track > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-track > div {
  user-select: none;
  width: 750px;
  height: 300px;
}

/* ========= */
/* Индикатор */
/* ========= */
.bullets-bar {
  align-self: flex-end;
  justify-self: center;
  display: flex;
  position: absolute;
  padding: 0 5px 5px 5px;
  margin-bottom: 5px;
  min-width: 15px;
  min-height: 15px;
}

.bullet {
  filter: drop-shadow(0.5px 0.5px 1px black);
  background-color: white;
  border-radius: 15px;
  height: 15px;
  margin: 0 5px 5px 5px;
  opacity: 60%;
  width: 15px;
}

.bullet:hover {
  opacity: 80%;
  cursor: pointer;
}

.bullet-pull {
  width: 45px;
  opacity: 100%;
}

.bullet-default {
  opacity: 100%;
}

.bullet-scaling {
  transform: scale(1.1);
  opacity: 100%;
}

.rectangle {
  width: 500px;
  height: 150px;
  background-color: #60A7E3;
  color: white;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .text {
    font-size: 12pt;
  }
}
@media screen and (max-width: 900px) {
  .rectangle {
    width: 200px;
  }
  .slide-thumb {
    font-size: inherit;
    padding: 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #7c7c7c;
    margin: 0 5px;
    border-radius: 10px;
    width: 125px;
    height: 62.5px;
    overflow: clip;
  }
  .slider-track > div {
    user-select: none;
    width: 400px;
    height: 200px;
  }
  .slider-thumb-container {
    width: 500px;
  }
  .slider-container {
    width: 500px;
  }
  .text {
    font-size: 9pt;
  }
}

/*# sourceMappingURL=style.css.map */
