/* ================= */
/* Настройка галереи */
/* ================= */

:root{
    --width: 480px;
    --height: 240px;
    --dots-size: 15px;
}

/* ============================= */
/* Классы для просмотра картинок */
/* ============================= */

.slider{
    margin: 10%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: var(--height);
    width: 100%;
}

.gallery{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    width: var(--width);
    height: var(--height);
    overflow: hidden;
}

.photos{
    transform: translateX(calc(var(--width) - (2 * var(--width))));
    width: max-content;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
}

.photos > div{
    background-color: rgb(59, 144, 170);
    min-width: var(--width);
    min-height: var(--height);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48pt;
    color:azure;
}

/* ====== */
/* Кнопки */
/* ====== */

.button{
    transition: 0.25s ease-out;
    cursor: pointer;
    margin:50px;
    width: 40px;
    height: 100px;
    background-color: hsl(194, 48%, 45%);
    border-radius: 10px;
}

button { 
    border: none; 
    outline: none; 
}

button:hover{
    transform: scale(1.1);
    background-color: hsl(194, 48%, 55%);
}

button:active{
    transform: scale(0.9);
    background-color: hsl(194, 48%, 30%);
}

/* ========= */
/* Индикатор */
/* ========= */

.dots-bar{
    align-self: flex-end;
    display: flex;
    position: absolute;
    padding: 0px 5px 5px 5px;
    margin-bottom: 5px;
    min-width: var(--dots-size);
    min-height: var(--dots-size);
}

.dot{
    background-color: white;
    border-radius: var(--dots-size);
    height: var(--dots-size);
    margin: 0px 5px 5px 5px;
    opacity: 60%;
    transition: 0.5s ease-in-out;
    width: var(--dots-size);
}

.dot-active{
    width: calc(var(--dots-size) * 3);
    opacity: 100%;
}