/* ================= */
/* Настройка галереи */
/* ================= */


$width: 480px
$height: 240px
$width-thumb: $width * 5/16
$height-thumb: $height * 5/16
$dots-size: 15px

@mixin defaultProp()
    display: flex
    align-items: center
    justify-content: center

html,
body
    margin: 0
    padding: 0
    background-color: #383838
    flex-direction: column
    @include defaultProp()


.logo
    top: 0%
    position:absolute
    width: 720px
    height: 248px
    background-image: url(/png/logo.png)
    transform: scale(0.8)

.presentation
    @include defaultProp()

.text
    display: flex
    position: absolute
    top: 23.5%
    font-family: 'Arial', sans-serif
    font-style: normal
    font-weight: 300
    font-size: 14pt
    line-height: 17pt
    letter-spacing: 2em
    text-transform: uppercase


#light
    color: #FFFFFF


#blueGradient
    color: transparent
    -webkit-background-clip: text
    background-clip: text
    background-image: linear-gradient(to right, #60A7E3, #9CFBFF)



/* ================= */
/* Режим презентации */
/* ================= */

.slider-thumb-container, .slider2-thumb-container
    overflow: hidden
    position: relative
    margin-top: 10px
    display: flex
    width: $width
    height: $height-thumb


.slider-thumb, .slider2-thumb
    position: absolute
    display: flex
    width: max-content
    height: inherit


.slide-thumb
    font-size: inherit
    padding: 0
    @include defaultProp()
    color: #FFFFFF
    margin: 0px 5px
    border-radius: 10px
    width: $width-thumb
    height: $height-thumb


.sliderMargin1
    margin: 8vh 0 0 0


/* ================= */
/* Основная карусель */
/* ================= */

.slider,.slider2
    font-family: 'Arial', sans-serif
    font-size: 30pt
    @include defaultProp()
    flex-direction: column
    height: $height
    width: 100%


.slider-block,.slider2-block
    @include defaultProp()
    width: 100%


.slider-container,.slider2-container
    border-radius: 15px
    display: flex
    position: relative
    margin: 0
    padding: 0
    width: $width
    height: $height
    overflow: hidden


.slider-track,.slider2-track
    border-radius: inherit
    display: flex
    flex-direction: row
    width: max-content


.slider-track > div,.slider2-track > div
    width: $width
    height: $height
    position: relative
    @include defaultProp()

.slide
    user-select: none


/* ========= */
/* Индикатор */
/* ========= */

.dots-bar
    align-self: flex-end
    justify-self: center
    display: flex
    position: absolute
    padding: 0px 5px 5px 5px
    margin-bottom: 5px
    min-width: $dots-size
    min-height: $dots-size


.dot
    filter: drop-shadow(0.5px 0.5px 1px black)
    background-color: white
    border-radius: $dots-size
    height: $dots-size
    margin: 0px 5px 5px 5px
    opacity: 60%
    width: $dots-size


.dot:hover
    opacity: 80%
    cursor: pointer


.dot-pull
    width: $dots-size * 3
    opacity: 100%


.dot-default
    opacity: 100%


.dot-scaling
    transform: scale(1.1)
    opacity: 100%
